{
"title": "Startseite",
"template": "full-html"
}
---
<div class="indexContent">

    <h2>Willkommen auf {{global.title}}!
    </h2>
    <img src="assets/ramenindex.jpg" alt="Bild eines
        Restaurants">
    <p>Bei uns finden sie eine Vielzahl von den erlesensten und kulinarisch
        wertvollsten Ramenrezepten der Welt. <br><br>
        Durch tief gehende Studien der japanischen Küche haben wir ein
        unverwechselbares Gespür für das absolute und bedingungslose
        Geschmackserlebnis entwickelt.<br>
        Wenn sie den wahren Genuss erleben möchten, sollten sie unsere Ramen
        ausprobieren. <br><br>
        Unsere Rezepte eignen sich sowohl für den Ramen-Anfänger als auch
        Meister.
    </p>
</div>